#limiter::-webkit-scrollbar {
    width: 5px;
}

#limiter::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #ff000030;
}

#limiter::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

#limiter {
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}

.accordion {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.accordion__question p {
    margin: 5px;
    padding: 0;
    font-size: 20px;
}

.accordion__answer p {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    line-height: 18px;
    color: #FF0000;
    background: #FFFFFF;
    border-radius: 10px;
}

.accordion:hover {
    cursor: pointer;
}

.accordion__answer {
    display: none;
}

.accordion.active .accordion__answer {
    display: block;
}

@media (max-width: 718px) {
    #limiter {
        height: 200px;
    }
    .accordion__answer p {
        font-size: 14px;
        line-height: 16px;
    }
}

@media (min-width:718px) and (max-width:1023px) {
    /* not currently used */
}

@media (min-width:1024px) and (max-width:1279px) {
    #limiter {
        height: 500px;
    }
}
